@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap');
/*reset*//*definir todo antes de configurar*/
*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
/*-------------------------------Fondo de pantalla----------------------*/
body{
	background-image: url(../img/hero2.jpeg);/*fondo de todo*/
	background-repeat: no-repeat; /*si repite y donde*/
	background-attachment: fixed; /*fijo o scroll el fondo*/
	background-position: center;/*ubicacion del fondo*/
	background-size: cover; /*tamaño del fondo*/
	/*position: relative;*/
	min-height: 100%;
	width: ;
}
/*-----------------------------Arrriba de la nav-------------------------*/
.body-div{
		text-decoration: none;
		background-color: #4B4545;
		width: 100%; /*ancho*/
		height: 100%; /*alto*/
		border: none;/*bordes del cuadro*/
		overflow: none;/*desbordamiento de la caja*/
		font-size: 0.9rem;/*Tamaño de la letra}*/
}
	.body-div a{
		text-decoration: none;
		color: white;
	}
/*---------------------------Termina arriba nav-------------------------*/
/*--------------------------Colores de la pagina------------------------*/
.bg-verde{
	text-decoration: none;
	background-color: rgba(1,161,30,1);
	color: yellow;
}
.bg-verde a{
	text-decoration: none;
	color: yellow;
}
.bg-verde button{
	background-color: yellow;
}
.border-yellow{
	border: 2px solid yellow;
}
.trans-titulo: hover{
	transform: rotateZ(-360deg);
	transition: transform 5s;
}
/*--------------------------------------Footer---------------------*/
.body footer{
		background-color: #4B4545;
		width: 100%;
}
.body footer a{
	text-decoration: none;
	color: white;
	margin:0;
	padding: 0;
	padding-bottom: 10px;
	width: 100%;
	font-size: 2rem;
}
/*--------------------------------Termina El Footer-----------------*/
/*-----------------------------Productos---------------------------*/
.productos table{
	border: 5px solid yellow;
}
.productos table tr{
	border: 1px solid yellow;
}
/*-----------------------Termina Productos---------------------------*/
/*--------------------------Promociones-----------------------------*/
.promociones table tr{
	border: 1px solid yellow;
}
/*--------------------------Nosotros-------------------------------*/
.nosotros{
	width: 100%;
}
.nosotros p{
	font-size: 1.5rem;
}
.nosotros section{
	height: 330px;
}
/*--------------------------Contacto-------------------------------*/
/*-------------------------Resoluciones----------------------------*/
@media (min-width: 768px){
 /*-------------------------General---------------------------------*/
	.body header nav{
		background: linear-gradient(90deg, rgba(1,161,30,1) 23%, rgba(136,200,0,1) 49%, rgba(254,255,0,1) 100%);	
	}
	.body header nav div a{
		font-size: 4rem;
	}
	.body nav ul li a{
		color:rgba(1,161,30,1);
		font-size: 2rem;
	}
	.body header nav div a:hover{
		background-color:rgba(1,161,30,1);
		color:yellow;
		cursor: pointer;
		transition: background-color 2s;
		transition: color 2s;
	}
	.body footer{
		background-color: #4B4545;
		width: 100%;
	}
	.body footer div a{
		padding: 0px;
	}
	.body footer a{
		align-items: center;
		justify-content: center;
		justify-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 1rem;
	}
/*--------------------------Productos------------------------------*/
.productos footer{
	position: absolute;
	bottom: 0;
	}
/*-----------------------Promociones-------------------------------*/
.promociones{
	font-size: 1.2rem;
}
.promociones footer{
	position: absolute;
	bottom: 0;
}
/*-----------------------Nosotros-----------------------------------*/
.nosotros p{
	font-size: 2rem;
	}
.nosotros footer{
	position: absolute;
	bottom: 0;
	}
.nosotros section{
	height: 300px;
	}
/*-----------------------Contacto----------------------------------*/
.contacto body div{
	width: 100%;
	height: 250px;
	}
.contacto table{
	font-size: 1.5rem;
}
.contacto table tr{
	border: 1px solid yellow;
	}
}
.contacto body div fieldset div{
	height: 40px;
}
/*-------------------------Resoluciones----------------------------*/
@media (min-width: 1024px){
/*--------------------------Productos*/
.productos section{
	margin-top: 10px;
}

.productos table{
	font-size: 1.5rem;
}
/*-----------------------Promociones-------------------------------*/
.promociones{
	font-size: 2rem;
	}
/*-----------------------Nosotros-----------------------------------*/
.nosotros section{
	height: 400px;
	}
.nosotros p{
	font-size: 3rem;
	}
/*-----------------------Contacto----------------------------------*/
.contacto footer{
	position: absolute;
	bottom: 0;
}
.contacto fieldset{
	font-size: 1.3rem;
 }
}