@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap');
/*reset*//*definir todo antes de configurar*/
*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
/*-------------------------------Fondo de pantalla----------------------*/
body{
	background-image: url(../img/hero2.jpeg);/*fondo de todo*/
	background-repeat: no-repeat; /*si repite y donde*/
	background-attachment: fixed; /*fijo o scroll el fondo*/
	background-position: center;/*ubicacion del fondo*/
	background-size: cover; /*tamaño del fondo*/
	position: relative;
	min-height: 100%;
	width: ;
}
/*-----------------------------Arrriba de la nav-------------------------*/
.body-div{
		text-decoration: none;
		background-color: #4B4545;
		width: 100%; /*ancho*/
		height: 100%; /*alto*/
		border: none;/*bordes del cuadro*/
		overflow: none;/*desbordamiento de la caja*/
		font-size: 0.9rem;/*Tamaño de la letra}*/
		text-align: center;
}
	.body-div a{
		text-decoration: none;
		color: white;
	}
/*---------------------------Termina arriba nav-------------------------*/
/*--------------------------Colores de la pagina------------------------*/
.bg-verde{
	text-decoration: none;
	background-color: rgba(1,161,30,1);
}
.bg-verde a{
	text-decoration: none;
	color: yellow;
}
.bg-verde button{
	background-color: yellow;
}
/*
<ul>
	<li>
		<a href="index.html">Inicio</a>
	</li>
	<li>
		<a href="pages/productos.html">Productos</a>
	</li>
	<li>
		<a href="pages/promociones.html">Promociones</a>
	</li>
	<li>
		<a href="pages/nosotros.html">Nosotros</a>
	</li>
	<li>
		<a href="pages/contacto.html">Contacto</a>
	</li>
</ul>*/
			/*NAVVVVVVVVVVVVVVVVVVV*/
			/*<nav>
			<div>
				<a href="index.html" class="logo">
					MONTE OLIVOS
				</a>
			</div>
			<div>
				<ul class="nav justify-content-end">
				  <li class="nav-item">
				    <a class="nav-link active" aria-current="page" href="#">INICIO</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">PRODUCTOS</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">PROMOCIONES</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link">NOSOTROS</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link">CONTACTO</a>
				  </li>
				</ul>
			</div>									
		</nav>*/