@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap');
html{
    font-size: 62.5%;
}
$fontMain:'Roboto', sans-serif;
//Peso de las letras
$fontSM: 300;
$fontMD: 500;
$fontLG: 700;
//Tamaño letras
$size1: 0.9rem;
$size2: 1rem;
$size3: 1.5rem;
$size4: 2rem;
$size5: 2.5rem;
$size6: 3rem;
$size7: 3.5rem;
$size8: 4rem;
