@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700&display=swap');
html{
    font-size: 62.5%;
}
$fontMain:'Roboto', sans-serif;
$secondFont:"Roboto+Mono";
//Peso de las letras
$fontSM: 300;
$fontMD: 500;
$fontLG: 700;
