//mixins
@mixin texto($font, $color, $size){
    font-weight:$font;
    color:$color;
    font-size:$size;
}
@mixin d-flex($justify, $align){
    display:flex;
    justify-content: $justify;
    align-items: $align;
}
// extends
.bg-verde{
    text-decoration:none;
	background-color:$main-green;
	@include texto($fontSM, $yellow, $size3);
    a{
        text-decoration:none;
	    color:$yellow;
    }
    button{
        background-color:$yellow;
    }
}
.border-yellow{
	border:2px solid$yellow;
}
.trans-titulo{
    &:hover{
        transform: rotateZ(-360deg);
	    transition: transform 5s;
    }	
}

//maps


// math
// .box{
// 	width: ($width - 2%) / 4;
// 	height: $height - 2vh;
// 	background-color: grey;
// }

// condicionales 
// .icon-lang{
// 	width: 50px;
// 	height: 50px;
// 	background-size:contain;
// 	background-position:center;
// 	@if $lang==es{background-image: url(../img/icono-es.jpg)}
// 	@else if $lang==en{background: url(../img/icono-en.jpg)}
// 	@else if $lang==fr{background: url(../img/icono-fr.jpg)}
// 	@else{background: url(../img/icono-any.jpg)};
// }

// bucles
// @for $i from 1 through 6{
// 	.text-#{$i}{
// 		font-size: .25em *$i;
// 	}
// }

// bucle evolucionado
// @each $icono in facebook, twitter, instagram{
// 	.#{$icono}-icon{
// 		background-image:url(../img/#{$icono}.svg);
// 		width: 30px;
// 		height: 30px;
// 		background-size:100%;
// 		list-style: none;
// 		margin-right: 6px;
// 	}
// }





