//maps
//Tamaño letras
$ta-letra:(
    "size1" : 0.9rem,
    "size2" : 1rem,
    "size3" : 1.5rem,
    "size4" : 2rem,
    "size5" : 2.5rem,
    "size6" : 3rem,
    "size7" : 3.5rem,
    "size8" : 4rem,
);
//mixins
@mixin texto($font, $color, $sizefont){
    font-weight:$font;
    color:$color;
    font-size:$sizefont;
}
@mixin d-flex($justify, $align){
    display:flex;
    justify-content: $justify;
    align-items: $align;
    
}
// extends
.bg-verde{
    text-decoration:none;
	background-color:$main-green;
	@include texto($fontSM, $yellow, map-get($map: $ta-letra, $key:"size3"));
    a{
        text-decoration:none;
	    color:$yellow;
    }
    button{
        background-color:$yellow;
    }
}
.border-yellow{
	border:2px solid$yellow;
}
.trans-titulo{
    &:hover{
        transform: rotateZ(-360deg);
	    transition: transform 5s;
    }	
}




