/*-----------------------------Arrriba de la nav-------------------------*/
.body-div{
    text-decoration:none;
    background-color:$gris;
    width:$width; /*ancho*/
    height:100%; /*alto*/
    border:none;/*bordes del cuadro*/
    overflow:none;/*desbordamiento de la caja*/
    font-size:$size1;/*Tamaño de la letra}*/
}
.body-div a{
    text-decoration:none;
    color:$white;
}
/*---------------------------Termina arriba nav-------------------------*/



