// variables globales
//ancho
$width:100%;
/*-----------------------Colores de la pagina------------------------*/
$main-green: rgba(0,115,0,1);
$yellow: #EAFF00;
$gris:#4B4545;
$white:#F2F2F2;
$degrades:linear-gradient(90deg, rgba(0,115,0,1) 23%, rgba(136,200,0,1) 49%, rgba(254,255,0,1) 100%);
/*---------------------------Termina colores----------------------*/


